/* Reset dasar */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../../assets/image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quiz-container {
  background-image: url(../../assets/image/cardBg.jpg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0 0 0.5rem #1797ff);
}

h1 {
  margin-bottom: 20px;
}

#question {
  font-size: 1.2rem;
  margin-bottom: 20px;
  user-select: none;
}

.option {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.option:hover {
  background-color: #0056b3;
}

.correct {
  background-color: #28a745 !important;
}

.incorrect {
  background-color: #dc3545 !important;
}

#feedback {
  font-size: 1rem;
  margin: 20px 0;
  color: #fff;
}

#timer {
  font-size: 1.2rem;
  color: #fff;
  margin: 20px 0;
}

#next-button {
  background: linear-gradient(180deg, #70efbf 0, #21e69a 100%);
  color: #000;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  padding: 0px 20px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#next-button:hover {
  background: linear-gradient(180deg, #70efbf 0, #12bd7b 100%);
  box-shadow: 0 3px 9px #25b981;
}

.back-button {
  background: linear-gradient(180deg, #70efbf 0, #21e69a 100%);
  color: #000;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  border: none;
  padding: 0px 20px;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Jarak dengan elemen di atasnya */
}

.back-button:hover {
  background: linear-gradient(180deg, #70efbf 0, #12bd7b 100%);
  box-shadow: 0 3px 9px #25b981;
}

/* Efek animasi */
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes floatImg {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}
